:root {
    --clr-grey: #E6E6E6;
    --clr-white: #F0F0F0;
    --clr-blue: #00ABA9;
    --clr-green: #7CB06C;
    --clr-orange: #EB9D3A;
    --clr-red: #E6563B;
}

body {
    font-family: 'Abel', sans-serif;
}

img {
    position: relative;
    z-index: 2000;
}

.white-bar {
    background: var(--clr-white);
    width: 100%;
    top: 50px;
    height: 65px;
    z-index: 1;
}

.container-fluid {
    padding: 1em;
    background: var(--clr-grey);
}

.title-text {
    font-size: 2.8em;
}

.nav-bar {
    font-size: 1em;
}

.anton-text {
    font-family: 'Anton', sans-serif;
}

.spacer-row {
    height: 60px;
}

.spacer-row2 {
    height: 35px;
}