:root {
    --clr-grey: #E6E6E6;
    --clr-white: #F0F0F0;
    --clr-blue: #00ABA9;
    --clr-green: #7CB06C;
    --clr-orange: #EB9D3A;
    --clr-red: #E6563B;
}
body {
    padding: 20px;
    background: var(--clr-grey);
}
.white-bar {
    background: var(--clr-white);
    width: 100%;
    height: 50px;
}
